
@media (max-width: 1024px) {
    .footer-ul  {
        flex-direction: column;
        align-items: center;
       
    }
   .flex-about {
    flex-direction: column-reverse;
    
   }
   .left-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
   }
   .left-wrapper img {
    width: 100%;
   }

}


@media (max-width: 768px) {
.footer-ul>ul {
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.nav-bar {
    display: none;
}
.burger {
   display: block;
}
.header-nav {
    flex-direction: column;
}
.nav-bar ul {
    flex-direction: column;
}
.copyright p  {
    font-size: 10px;
}
}


@media (max-width: 481px) {
   
    .nav-bar {
        display: none;
    }
    .form {
        display: none;
    }
}
